@import '../../public/fonts/css/satoshi.css';
@import '../../public/fonts/css/EBGaramond.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.transition {
  transition: all 0.3s linear;
}

.transitionItem {
  transition: all 0.3s linear;
}

body {
  @apply font-Satoshi400;
}
p {
  @apply font-Satoshi400 !mb-0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-Satoshi400 !mb-0;
}
select {
  @apply bg-transparent;
}
.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @apply font-Satoshi400;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 74%;
  }
}
.auth_container {
  max-width: 1363px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .auth_container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .auth_container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .auth_container {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .auth_container {
    width: 80%;
  }
}
@layer base {
  body {
    font-family: 'satoshi';
  }
}

#wrapper div:last-child hr{
  @apply hidden
}

.ant-form-item-explain-error {
  @apply text-xs font-light mt-2;
}

.btn-light {
  @apply border-none text-brand border-2 px-10 py-3 rounded-md text-sm;
}

.btn-brand {
  @apply border-brand bg-brand text-gray-100 border-2 px-10 py-3 rounded-full text-sm;
}

.btn-light-border {
  @apply border-white text-white border-2 px-10 py-3 rounded-md text-sm;
}

.btn-brand-white {
  @apply border-white bg-white text-brand border-2 px-10 py-3 rounded-md text-sm;
}

.btn-business {
  @apply bg-brand text-gray-100 lg:px-8 py-3 w-[60%] rounded-full text-[14px];
}

.btn-hover-1 {
  @apply hover:!bg-[#2F929C] transitionItem;
}

.btn-hover-2 {
  @apply hover:!bg-[#007582] !capitalize transitionItem;
}

input {
  @apply outline-none;
}

.dropdown-item {
  @apply flex flex-col gap-2 p-4 rounded-md bg-brand !text-gray-100 transition-colors ease-in-out duration-200;
}

.dropdown-menu-title {
  @apply font-Satoshi700 text-brand;
}

.dropdown-item:hover .dropdown-menu-title {
  @apply text-gray-100;
}

h2 {
  @apply text-2xl font-semibold font-Satoshi500;
}

ol {
  @apply list-decimal ml-6;
}

@layer utilities {
  .tick {
    display: inline-block;
    width: 1.55rem;
    height: 0.5rem;
    border: 2px solid currentColor;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    margin-right: 0.25rem;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
  scrollbar-color: none !important;
}

.error-msg {
  color: red;
  @apply text-[9px] font-Satoshi500;
}
/* Style the tabs */

.tabs {
  overflow: auto;
  column-gap: 25px;
  background: #f0f5f3;
  padding-bottom: 0 !important;
  scroll-padding-bottom: 0;
  text-transform: capitalize !important;
  color: rgba(33, 37, 41, 0.6);
  @apply text-[14px] leading-[18.2px] font-Satoshi500 rounded-full;
}

.tabs::-webkit-scrollbar {
  width: 0px;
}

.tabs a {
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
  color: rgba(0, 0, 0, 0.5);
  @apply p-4 px-5 text-center;
}

.tabs a:last-child {
  border-right: 0px solid #ccc;
}

/* Change background color of tabs on hover */
/* .tabs a:hover {
    color: #484848;
} */

/* Styling for active tab */
.tabs a.active {
  cursor: default;
  font-weight: 500;
  border: 0.521px solid #31795a;
  @apply text-brand bg-white rounded-full  text-center;
}

/* Style the tab content */

.tabcontent .map {
  height: 173px;
  width: 220px;
  background: #d3eafb;
  margin-left: 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.tabcontent {
  padding-top: 10px;
}

.Vue-Toastification__toast {
  @apply font-Satoshi400;
}

.Vue-Toastification__toast--error svg {
  @apply !text-[#E06F6F];
}

.Vue-Toastification__toast--error {
  @apply !bg-white !text-black;
}

.Vue-Toastification__toast--success {
  @apply !bg-white !text-black;
}

.Vue-Toastification__toast--success svg {
  @apply !text-[#D3DA51];
}
/* ant-picker-cell ant-picker-cell-in-view ant-picker-cell-today  */
/* .ant-picker-cell-in-view, */
/* .ant-picker-cell-today,
.ant-picker-cell-selected,
{
  @apply  !bg-brand
} */
input[type='checkbox'] {
  accent-color: #2f929c;
}
.vue-apexcharts {
  max-height: 30%;
}
.bank_list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.bank_list::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
  background: #e6f1f3;
}

/* Handle */
.bank_list::-webkit-scrollbar-thumb {
  background: #96c6cc;
  border-radius: 10px;
  height: 2px;
}

/* Handle on hover */
.bank_list::-webkit-scrollbar-thumb:hover {
  background: #96c6cc;
}
/* .editor ul {
  list-style-type: disc !important; */
  /* @apply break-words text-justify font-Satoshi400 mt-2 !text-[14px] leading-5;
} */
/* .editor p {
  @apply break-words text-justify font-Satoshi400 !text-[14px] leading-5;
} */
.editor ul {
  list-style-type: disc !important;
  /* list-style:circle !important */
    @apply break-words text-justify font-Satoshi400 mt-2 ml-3 !text-[#000000BF] !text-[16px] leading-[25px];

}
.editor ul li {
  @apply !mb-2
}

.editor p {
  @apply break-words text-justify !text-[#000000BF] text-[16px] font-Satoshi400 !my-4 leading-[35px];
}
.editor  span{
  @apply break-words text-justify !text-[#000000BF] text-[16px] font-Satoshi400 !my-4 leading-[35px];
}

.ql-video {
  width: 100%; /* Set the desired width */
  height: 600px; /* Set the desired height */
  border-radius: 5px; /* Add rounded corners */
}
.coming-soon {
  position: absolute;
  font-size: 8px;
  right: 0;
  top: -2;
  color: #ff0000;
  background: #edf0b8;
  padding: 5px;
  border-radius: 3px;
}
.topJobs::-webkit-scrollbar {
  width: 2px !important;
  height: 5px !important;
}

/* Track */
.topJobs::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
  background: #e6f1f3;
    width: 2px !important;
      background: #fff;



}

/* Handle */
.topJobs::-webkit-scrollbar-thumb {
  background: #2F929C;
  border-radius: 10px;
  height: 5px !important;
  width: 3px !important;

}

/* Handle on hover */
.topJobs::-webkit-scrollbar-thumb:hover {
  background: #96c6cc;
}
.vue-tel-input input{
  @apply !p-3;
}
.vue-tel-input {
  @apply w-full font-light text-[14px] outline-none border-[0.509px] !shadow-none focus:!border-[#254035] rounded-[4px] text-sm;
}
.vti__dropdown-list, .above{
  @apply !bg-white ;
}
.vue-tel-input:focus-within{
  @apply focus:!border-[#254035]
}

/* Added Styles */

  #messagesContainer .active {
    @apply !bg-[#E6F1F3] transitionItem
  }
  
  #messagesContainer .active .attachment {
    @apply bg-[white] transitionItem
  }

  .flexBasic {
    @apply flex items-center justify-between
  }

  .messageGroup p {
    @apply font-Satoshi500 text-[#244034] leading-[2rem] capitalize text-[0.6rem]
  } 

  .messageGroup .active {
    @apply bg-[#3F634D] rounded-[1.51rem] text-center w-fit px-[0.7rem] !text-white
  }

  .messageGroup .active p {
    @apply !text-white
  }

  .messageGroup li {
    @apply cursor-pointer
  }

  .widget .timeStamp {
    @apply !hidden
  }

  .widget .logo {
    @apply w-[1.36rem] h-[1.36rem]
  }

  .widget .message {
    @apply !mb-[0.5rem] leading-[1.3rem]
  }

  .widget .company {
    @apply text-[1rem] font-Satoshi900
  }

  .widget .mail {
    @apply text-[0.7rem]
  }

  .widget .messageTitle, .widget .messageTitleMob {
    @apply text-[0.9rem] !mb-[0.5rem] hidden leading-[0.7rem]
  }

  .widget .atachmentHead {
    @apply hidden
  }

  .widget .files {
    @apply p-[0.5rem]
  }

  .widget .filesContainer {
    @apply mt-[0.5rem]
  }

  .widget .files h3 {
    @apply text-[0.5rem] leading-[0.5rem]
  }

  .widget .files p {
    @apply text-[0.45rem]
  }

  .widget .messageTitleMob {
    @apply !block capitalize 
  }

  .widget .header {
    @apply w-full !justify-center text-center flex-col gap-[0rem] hidden
  }

  .widget .mobHeader {
    @apply !flex items-center justify-between w-full
  }

  .widget .header_container {
    @apply w-full
  }

  .widget hr {
    @apply mt-[0.5rem] hidden
  }

  .widget .replies hr {
    @apply block mt-0
  }

  .widget .head {
    @apply mb-4
  }

  .widget .replies .head h3 {
    @apply text-[0.7rem] leading-[0.8rem]
  }

  .widget .replies .head .time_stamp {
    @apply text-[0.5rem]
  }

  .widget .senderDetails {
    @apply !p-4 rounded-t-[1.003rem]
  }

  svg {
    @apply cursor-pointer
  }

  .widgetClosed.section {
    @apply !h-[3.15rem]
  }

  .widgetClosed .arrow {
    @apply rotate-180 transitionItem
  }

  .widgetClosed .messageList {
    @apply !h-0 flex-auto hidden transitionItem
  }

  .widgetClosed .chatPane {
    @apply overflow-hidden
  }

  .widgetClosed .filter, .widgetClosed .inputField {
    @apply hidden
  }

  .widgetContainer .newMessage {
    @apply overflow-auto relative z-[99] scroller
  }

  .widgetContainer .header {
    @apply sticky top-0 bg-white
  }

  .widgetContainer .textarea {
    @apply max-h-[160px]
  }

  .inputField .textarea {
    @apply !max-h-[185px]
  }

  #newMessage .textarea {
    @apply !max-h-[230px]
  }

  #newMessage .attachment {
    @apply mb-4
  }

  .message .variableDiv {
    @apply !pb-0
  }

  .scroller {
    scrollbar-width: thin !important;
    scrollbar-color: #2F929C #e6f1f3;
  }
  
  .scroller::-webkit-scrollbar-thumb {
    background: #2F929C;
  }
  .scroller::-webkit-scrollbar-track {
    background: #e6f1f3;
  }
  .scroller::-webkit-scrollbar {
    max-width: 10px;
    max-height: 10px;
  }
  
  .scroller::webkit-scrollbar-button {
    display: none;
  }

  /* .widget .recievedMessage {
    @apply 
  } */

  .widget .chatScroll {
    @apply !h-[100%]
  }

  /* Events */

  .event_details p {
    @apply text-[#000] font-Satoshi400 text-[0.59rem] leading-[0.91rem] capitalize
  }

  .schedule h3 {
    @apply text-[1rem] eventBreak:text-[0.6rem]
  }

  .detail-container label {
    @apply eventBreak1:text-[0.6rem] text-[0.8rem]
  }

  .event_btn:hover .reg {
    @apply text-white transitionItem
  }

  .event-detail .about p{
    @apply text-[inherit] font-[inherit] leading-[inherit] 
  }

  .recommendations h3 {
    @apply text-[0.9rem] eventBreak1:text-[0.5rem] msgTab:!text-[0.7rem]
  }

  .shareEvent svg {
    @apply w-[25px] msgMob:w-[15px]
  }

  .hideOptions {
    @apply h-0 transitionItem overflow-hidden m-0
  }

  .hideOptions li {
    @apply !p-0 gap-0 h-0
  }

  .hideSocials {
    @apply h-0 transitionItem overflow-hidden m-0
  }

  .share svg {
    @apply w-[30px] msgTab:w-[20px]
  }

  .item #chatPane, .item #newMessageMob {
    @apply msgTab:absolute msgTab:top-0 msgTab:left-[50%] msgTab:opacity-[-1] msgTab:z-[-1] msgTab:h-full msgTab:translate-x-[-50%]
  }

  

  


  
